In [261]:
%%html
<style>
/* 本电子讲义使用之CSS */
div.code_cell {
    background-color: #e5f1fe;
}
div.cell.selected {
    background-color: #effee2;
    font-size: 2rem;
    line-height: 2.4rem;
}
div.cell.selected .rendered_html table {
    font-size: 2rem !important;
    line-height: 2.4rem !important;
}
.rendered_html pre code {
    background-color: #C4E4ff;   
    padding: 2px 25px;
}
.rendered_html pre {
    background-color: #99c9ff;
}
div.code_cell .CodeMirror {
    font-size: 2rem !important;
    line-height: 2.4rem !important;
}
.rendered_html img, .rendered_html svg {
    max-width: 50%;
    height: auto;
    float: center;
}
/* Gradient transparent - color - transparent */
hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
}
.emoticon{
    font-size: 5rem;
    line-height: 4.4rem;
    text-align: center;
    vertical-align: middle;
}

</style>

# Face++

### 引入模板

In [116]:
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize

In [265]:
API_Key = 'LnOqEqIWy1aCvlmej9imIBqUP2ju99kO'
API_Secret = '4gH9yU5pySYPiYgms0_WOrbCSptabUXG'

base_url = 'https://api-cn.faceplusplus.com/facepp/v3/detect'
img_url = 'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1281705909,1438385339&fm=26&gp=0.jpg'

headers = {
    'Content-Type': 'application/json',
}

payload = {
    "image_url":img_url,
    'api_key': API_Key,
    'api_secret': API_Secret,
    'return_attributes':'gender,age,eyestatus,emotion',
}

r = requests.post(base_url, params=payload, headers=headers)

print(r.status_code) #请求状态码
face_base_content = r.content
result = r.json()
print(result)

200
{'request_id': '1585820852,1df20cde-b841-48f1-aace-c6295b72e173', 'time_used': 148, 'faces': [{'face_token': 'e5ea3d71886779323c0a91060dbd98ec', 'face_rectangle': {'top': 90, 'left': 84, 'width': 101, 'height': 101}, 'attributes': {'gender': {'value': 'Female'}, 'age': {'value': 22}, 'eyestatus': {'left_eye_status': {'no_glass_eye_open': 99.42, 'no_glass_eye_close': 0.0, 'normal_glass_eye_open': 0.573, 'normal_glass_eye_close': 0.0, 'dark_glasses': 0.003, 'occlusion': 0.004}, 'right_eye_status': {'no_glass_eye_open': 99.974, 'no_glass_eye_close': 0.0, 'normal_glass_eye_open': 0.026, 'normal_glass_eye_close': 0.0, 'dark_glasses': 0.0, 'occlusion': 0.0}}, 'emotion': {'anger': 0.262, 'disgust': 0.011, 'fear': 0.05, 'happiness': 0.017, 'neutral': 19.877, 'sadness': 0.011, 'surprise': 79.773}, 'glass': {'value': 'None'}}}], 'image_id': 'YFOim35T7ctmX5MEXDRBew==', 'face_num': 1}

In [293]:
# 性别，年龄，戴眼镜
face_gender = result["faces"][0]["attributes"]["gender"]["value"]
print('性别：',face_gender)
face_age = result["faces"][0]["attributes"]["age"]["value"]
print('年龄：',face_age)
face_glass = result["faces"][0]["attributes"]["eyestatus"]["left_eye_status"]["no_glass_eye_open"]
print('不戴眼镜的置信度：',face_glass)

性别： Female
年龄： 22
不戴眼镜的置信度： 99.42

In [294]:
# 表情
face_emotion = result["faces"][0]["attributes"]["emotion"]
print(face_emotion)

{'anger': 0.262, 'disgust': 0.011, 'fear': 0.05, 'happiness': 0.017, 'neutral': 19.877, 'sadness': 0.011, 'surprise': 79.773}

In [296]:
faces_data = result['faces']
#df = pd.DataFrame(faces_data)
faces = pd.DataFrame(df["attributes"].to_dict())
faces

                                                           0
age                                            {'value': 22}
emotion    {'anger': 0.262, 'disgust': 0.011, 'fear': 0.0...
eyestatus  {'left_eye_status': {'no_glass_eye_open': 99.4...
gender                                   {'value': 'Female'}
glass                                      {'value': 'None'}

# Azure

In [ ]:
#存放图片链接
#http://newmedia.nfu.edu.cn/wcy/wp-content/uploads/2018/04/post_20180424__NFU_DoraHacks_imoji%E5%9B%A2%E9%98%9F.jpg
#https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1281705909,1438385339&fm=26&gp=0.jpg

# 以下的代码只能识别单人的照片

In [129]:
# 先导入为们需要的模块
import requests
import json

KEY = '83af77d8caa24ea18741d48c5c805f9a'  # Replace with a valid Subscription Key here.

# Base URL,  Request URL中 符号?以前
#。                          eastasia.api.cognitive.microsoft.com  ==》{endpoint}
BASE_URL = 'https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect' # 人脸检测

# 沿用API的示范代碼，{subscription key}用KEY代入
HEADERS = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '{}'.format(KEY), #''
}

img_url = 'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1281705909,1438385339&fm=26&gp=0.jpg'

data = {
    'url': '{}'.format(img_url),
}
payload = {
    'returnFaceId': 'true',
    'returnFaceLandmarks': 'flase',
    'returnFaceAttributes': '{}'.format('age,gender,glasses,emotion'),
}

r = requests.post(BASE_URL,data=json.dumps(data),params = payload,headers=HEADERS)
print(r.status_code)

200

In [130]:
print(r.content)

b'[{"faceId":"c28054cb-033c-4340-a794-c8c698ed1e06","faceRectangle":{"top":84,"left":71,"width":108,"height":108},"faceAttributes":{"gender":"female","age":18.0,"glasses":"NoGlasses","emotion":{"anger":0.0,"contempt":0.0,"disgust":0.0,"fear":0.0,"happiness":0.0,"neutral":0.998,"sadness":0.001,"surprise":0.0}}}]'

In [131]:
result = r.json()
result[0]

{'faceId': 'c28054cb-033c-4340-a794-c8c698ed1e06',
 'faceRectangle': {'top': 84, 'left': 71, 'width': 108, 'height': 108},
 'faceAttributes': {'gender': 'female',
  'age': 18.0,
  'glasses': 'NoGlasses',
  'emotion': {'anger': 0.0,
   'contempt': 0.0,
   'disgust': 0.0,
   'fear': 0.0,
   'happiness': 0.0,
   'neutral': 0.998,
   'sadness': 0.001,
   'surprise': 0.0}}}

In [132]:
# 引入pandas模块
import pandas as pd

In [133]:
faces_data = result[0]
df = pd.DataFrame(faces_data)
df

,faceId,faceRectangle,faceAttributes
top,c28054cb-033c-4340-a794-c8c698ed1e06,84.0,NaN
left,c28054cb-033c-4340-a794-c8c698ed1e06,71.0,NaN
width,c28054cb-033c-4340-a794-c8c698ed1e06,108.0,NaN
height,c28054cb-033c-4340-a794-c8c698ed1e06,108.0,NaN
gender,c28054cb-033c-4340-a794-c8c698ed1e06,NaN,female
age,c28054cb-033c-4340-a794-c8c698ed1e06,NaN,18
glasses,c28054cb-033c-4340-a794-c8c698ed1e06,NaN,NoGlasses
emotion,c28054cb-033c-4340-a794-c8c698ed1e06,NaN,"{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0..."

In [134]:
df[['faceAttributes']].tail(4).head(3)

        faceAttributes
gender          female
age                 18
glasses      NoGlasses

In [135]:
emotion = result[0]["faceAttributes"]["emotion"]
emotion
face_emotion = pd.DataFrame(emotion,index=['结果']).T.nlargest(3,'结果')
print(face_emotion)

            结果
neutral  0.998
sadness  0.001
anger    0.000

# 以下的代码用于识别多人

In [142]:
# 先导入为们需要的模块
import requests
import json
import pandas as pd

KEY = '83af77d8caa24ea18741d48c5c805f9a'  # Replace with a valid Subscription Key here.

# Base URL,  Request URL中 符号?以前
#。                          eastasia.api.cognitive.microsoft.com  ==》{endpoint}
BASE_URL = 'https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect' # 人脸检测

# 沿用API的示范代碼，{subscription key}用KEY代入
HEADERS = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '{}'.format(KEY), #''
}

img_url = 'http://newmedia.nfu.edu.cn/wcy/wp-content/uploads/2018/04/post_20180424__NFU_DoraHacks_imoji%E5%9B%A2%E9%98%9F.jpg'

data = {
    'url': '{}'.format(img_url),
}
payload = {
    'returnFaceId': 'true',
    'returnFaceLandmarks': 'flase',
    'returnFaceAttributes': '{}'.format('age,gender,glasses,emotion'),
}

r = requests.post(BASE_URL,data=json.dumps(data),params = payload,headers=HEADERS)
print(r.status_code)

200

In [178]:
result = r.json()
result

[{'faceId': '1f082993-e962-4cb3-bd16-33a31e3f9288',
  'faceRectangle': {'top': 118, 'left': 144, 'width': 88, 'height': 88},
  'faceAttributes': {'gender': 'male',
   'age': 18.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.003,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.813,
    'neutral': 0.184,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': '1eb9f8d7-98cb-40e5-81cc-43aa53ed8dbe',
  'faceRectangle': {'top': 117, 'left': 376, 'width': 64, 'height': 64},
  'faceAttributes': {'gender': 'female',
   'age': 20.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.001,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.456,
    'neutral': 0.542,
    'sadness': 0.001,
    'surprise': 0.0}}},
 {'faceId': 'b13d9a86-e456-4ab6-8173-c78041f759f3',
  'faceRectangle': {'top': 41, 'left': 676, 'width': 52, 'height': 52},
  'faceAttributes': {'gender': 'male',
   'age': 23.0,
   'glasses': 'ReadingGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 1.0,
    'neutral': 0.0,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': 'cff8b061-38cf-4d72-87b4-65094d0488b1',
  'faceRectangle': {'top': 69, 'left': 445, 'width': 52, 'height': 52},
  'faceAttributes': {'gender': 'female',
   'age': 21.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 1.0,
    'neutral': 0.0,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': 'bbec115a-ddbb-4a53-b96d-e61ac84443da',
  'faceRectangle': {'top': 95, 'left': 238, 'width': 51, 'height': 51},
  'faceAttributes': {'gender': 'female',
   'age': 17.0,
   'glasses': 'ReadingGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.981,
    'neutral': 0.019,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': 'f38e9e72-7a18-4156-b240-110f26faa5e6',
  'faceRectangle': {'top': 94, 'left': 540, 'width': 48, 'height': 48},
  'faceAttributes': {'gender': 'female',
   'age': 19.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 1.0,
    'neutral': 0.0,
    'sadness': 0.0,
    'surprise': 0.0}}}]

In [155]:
df = pd.DataFrame(result)
df[['faceAttributes']]

                                      faceAttributes
0  {'gender': 'male', 'age': 18.0, 'glasses': 'No...
1  {'gender': 'female', 'age': 20.0, 'glasses': '...
2  {'gender': 'male', 'age': 23.0, 'glasses': 'Re...
3  {'gender': 'female', 'age': 21.0, 'glasses': '...
4  {'gender': 'female', 'age': 17.0, 'glasses': '...
5  {'gender': 'female', 'age': 19.0, 'glasses': '...

In [182]:
df["faceAttributes"].to_dict()

{0: {'gender': 'male',
  'age': 18.0,
  'glasses': 'NoGlasses',
  'emotion': {'anger': 0.0,
   'contempt': 0.003,
   'disgust': 0.0,
   'fear': 0.0,
   'happiness': 0.813,
   'neutral': 0.184,
   'sadness': 0.0,
   'surprise': 0.0}},
 1: {'gender': 'female',
  'age': 20.0,
  'glasses': 'NoGlasses',
  'emotion': {'anger': 0.0,
   'contempt': 0.001,
   'disgust': 0.0,
   'fear': 0.0,
   'happiness': 0.456,
   'neutral': 0.542,
   'sadness': 0.001,
   'surprise': 0.0}},
 2: {'gender': 'male',
  'age': 23.0,
  'glasses': 'ReadingGlasses',
  'emotion': {'anger': 0.0,
   'contempt': 0.0,
   'disgust': 0.0,
   'fear': 0.0,
   'happiness': 1.0,
   'neutral': 0.0,
   'sadness': 0.0,
   'surprise': 0.0}},
 3: {'gender': 'female',
  'age': 21.0,
  'glasses': 'NoGlasses',
  'emotion': {'anger': 0.0,
   'contempt': 0.0,
   'disgust': 0.0,
   'fear': 0.0,
   'happiness': 1.0,
   'neutral': 0.0,
   'sadness': 0.0,
   'surprise': 0.0}},
 4: {'gender': 'female',
  'age': 17.0,
  'glasses': 'ReadingGlasses',
  'emotion': {'anger': 0.0,
   'contempt': 0.0,
   'disgust': 0.0,
   'fear': 0.0,
   'happiness': 0.981,
   'neutral': 0.019,
   'sadness': 0.0,
   'surprise': 0.0}},
 5: {'gender': 'female',
  'age': 19.0,
  'glasses': 'NoGlasses',
  'emotion': {'anger': 0.0,
   'contempt': 0.0,
   'disgust': 0.0,
   'fear': 0.0,
   'happiness': 1.0,
   'neutral': 0.0,
   'sadness': 0.0,
   'surprise': 0.0}}}

In [183]:
pd.DataFrame(df["faceAttributes"].to_dict())

,0,1,2,3,4,5
gender,male,female,male,female,female,female
age,18,20,23,21,17,19
glasses,NoGlasses,NoGlasses,ReadingGlasses,NoGlasses,ReadingGlasses,NoGlasses
emotion,"{'anger': 0.0, 'contempt': 0.003, 'disgust': 0...","{'anger': 0.0, 'contempt': 0.001, 'disgust': 0...","{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0...","{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0...","{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0...","{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0..."

In [248]:
pd.DataFrame(df["faceAttributes"].to_dict()).T

,gender,age,glasses,emotion
0,male,18,NoGlasses,"{'anger': 0.0, 'contempt': 0.003, 'disgust': 0..."
1,female,20,NoGlasses,"{'anger': 0.0, 'contempt': 0.001, 'disgust': 0..."
2,male,23,ReadingGlasses,"{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0..."
3,female,21,NoGlasses,"{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0..."
4,female,17,ReadingGlasses,"{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0..."
5,female,19,NoGlasses,"{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0..."

In [260]:
faces_emotion = pd.DataFrame(df["faceAttributes"].to_dict()).T.loc[:,['emotion']]
type(faces_emotion)
faces_emotion

                                             emotion
0  {'anger': 0.0, 'contempt': 0.003, 'disgust': 0...
1  {'anger': 0.0, 'contempt': 0.001, 'disgust': 0...
2  {'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0...
3  {'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0...
4  {'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0...
5  {'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0...

In [236]:
pd.DataFrame(df["faceAttributes"])

                                      faceAttributes
0  {'gender': 'male', 'age': 18.0, 'glasses': 'No...
1  {'gender': 'female', 'age': 20.0, 'glasses': '...
2  {'gender': 'male', 'age': 23.0, 'glasses': 'Re...
3  {'gender': 'female', 'age': 21.0, 'glasses': '...
4  {'gender': 'female', 'age': 17.0, 'glasses': '...
5  {'gender': 'female', 'age': 19.0, 'glasses': '...

In [190]:
import numpy as np  # missing value np.nan
missing_value = {"emotion": {'sadness': np.nan, 'neutral': np.nan, 'disgust': np.nan, 'anger': np.nan, 'surprise': np.nan, 'fear': np.nan, 'happiness': np.nan}}
df["faceAttributes"] = df["faceAttributes"].fillna(missing_value)
df["faceAttributes"]

0    {'gender': 'male', 'age': 18.0, 'glasses': 'No...
1    {'gender': 'female', 'age': 20.0, 'glasses': '...
2    {'gender': 'male', 'age': 23.0, 'glasses': 'Re...
3    {'gender': 'female', 'age': 21.0, 'glasses': '...
4    {'gender': 'female', 'age': 17.0, 'glasses': '...
5    {'gender': 'female', 'age': 19.0, 'glasses': '...
Name: faceAttributes, dtype: object

In [191]:
df["faceAttributes"].fillna("")

0    {'gender': 'male', 'age': 18.0, 'glasses': 'No...
1    {'gender': 'female', 'age': 20.0, 'glasses': '...
2    {'gender': 'male', 'age': 23.0, 'glasses': 'Re...
3    {'gender': 'female', 'age': 21.0, 'glasses': '...
4    {'gender': 'female', 'age': 17.0, 'glasses': '...
5    {'gender': 'female', 'age': 19.0, 'glasses': '...
Name: faceAttributes, dtype: object

In [235]:
for i in df["faceAttributes"].index:
    print (i,df["faceAttributes"].loc[i].get("gender"))
    print (i,df["faceAttributes"].loc[i].get("age"))
    print (i,df["faceAttributes"].loc[i].get("glasses"))
    print (i,df["faceAttributes"].loc[i].get("emotion"))

0 male
0 18.0
0 NoGlasses
0 {'anger': 0.0, 'contempt': 0.003, 'disgust': 0.0, 'fear': 0.0, 'happiness': 0.813, 'neutral': 0.184, 'sadness': 0.0, 'surprise': 0.0}
1 female
1 20.0
1 NoGlasses
1 {'anger': 0.0, 'contempt': 0.001, 'disgust': 0.0, 'fear': 0.0, 'happiness': 0.456, 'neutral': 0.542, 'sadness': 0.001, 'surprise': 0.0}
2 male
2 23.0
2 ReadingGlasses
2 {'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0, 'fear': 0.0, 'happiness': 1.0, 'neutral': 0.0, 'sadness': 0.0, 'surprise': 0.0}
3 female
3 21.0
3 NoGlasses
3 {'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0, 'fear': 0.0, 'happiness': 1.0, 'neutral': 0.0, 'sadness': 0.0, 'surprise': 0.0}
4 female
4 17.0
4 ReadingGlasses
4 {'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0, 'fear': 0.0, 'happiness': 0.981, 'neutral': 0.019, 'sadness': 0.0, 'surprise': 0.0}
5 female
5 19.0
5 NoGlasses
5 {'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0, 'fear': 0.0, 'happiness': 1.0, 'neutral': 0.0, 'sadness': 0.0, 'surprise': 0.0}